@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);
html{
    scroll-behavior: smooth;
}

#testimonial .review.active{
    display: block;
    animation: moving-up .5s linear ;
    -webkit-animation: moving-up .5s linear ;
}


@keyframes moving-up {
    0%{
        opacity: 0;
        transform: translateY(2rem);
        -webkit-transform: translateY(2rem);
        -moz-transform: translateY(2rem);
        -ms-transform: translateY(2rem);
        -o-transform: translateY(2rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0rem);
        -webkit-transform: translateY(0rem);
        -moz-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
        -o-transform: translateY(0rem);
    }
}